<div class="memo-box">
    <div class="mm-info">
        <p>03.25</p>
    </div>
    <pre class="mm-txt">
        고등학교 국어 교사입니다. 문장 성분은 어절 또는 구 또는 절을 그 단위로 한다고 하는데, 절이 하나의 문장 성분이 되는 경우는 이해가 갑니다. 그런데, 어절이 하나의 문장 성분이 되는 예시와 구가 하나의 문장 성분이 되는 예시의 차이가 이해가 가지 않습니다. 

        질문 1 : 학교 문법을 기준으로 했을 때, 같은 예시에 대해서, 어절로 나누어서 문장 성분을 말하는 방식도 있고, 구로 나누어서 문장 성분을 말하는 방식도 있는 건가요? 아니면, 어절에 대해 하나의 문장 성분을 부여하는 경우가 따로 있고, 구에 대해 하나의 문장 성분을 부여하는 경우가 따로 있나요?

        질문 2 : 예를 들어, 아래의 예문에 대하여 보기의 몇 번과 같이 가르쳐야 학교 문법에 맞는 걸까요?

        예문 : 저 코스모스가 아주 아름답다.

        1. 저(관형어), 코스모스가(주어), 아주(부사어), 아름답다(서술어)

        2. 저 코스모스가(주어) ), 아주(부사어), 아름답다(서술어)

        3. '저(관형어), 코스모스가(주어), 아주(부사어), 아름답다(서술어)'로 볼 수도 있고,

        '저 코스모스가(주어), 아주 아름답다(서술어)'로 볼 수도 있다.

        4. 위에서 정답이 없다면 해답을 제시해 주시면 감사하겠습니다.
    </pre>
    <div class="mm-user">
        <p>한강온도이야기 작성</p>
    </div>
    <div class="mm-btn-group">
        <a class="mm-btn warning">
            <i class="material-icons" (click)="onFilterClick()">warning</i>
        </a>
        <a class="mm-btn link">
            <i class="material-icons" (click)="onLinkClick()">link</i>
        </a>
    </div>
</div>
