<div class="ph-img">
    <img [src]="getThumbnail()" (click)="onClick()">
    <div class="ph-info">
        <div class="bg"></div>
        <div class="img-wh">
            <i class="material-icons">crop_original</i>
            <p>{{photo.getWidth()}}x{{photo.getHeight()}}</p>
        </div>
        <div class="ph-btn-group">
            <a class="ph-btn warning">
                <i class="material-icons" (click)="onFilterClick()">warning</i>
            </a>
            <a class="ph-btn link">
                <i class="material-icons" (click)="onLinkClick()">link</i>
            </a>
        </div>
    </div>
</div>
