<div class="ph-img">
    <img [src]="getThumbnail()" (click)="onClick()" class="blurEffect">
    <div class="ph-info">
        <div class="bg"></div>
        <div class="img-wh">
            <i class="material-icons">crop_original</i>
            <p>{{photo.getWidth()}}x{{photo.getHeight()}}</p>
        </div>
        <div class="ph-btn-group">
            <a class="ph-btn warning">
                <i class="material-icons" (click)="onFilterClick()">warning</i>
            </a>
            <a class="ph-btn link">
                <i class="material-icons" (click)="onLinkClick()">link</i>
            </a>
        </div>
    </div>
    <div class="img-chk attention-limit">
        <img class="logo" src="/../assets/image/main/img_19_limit.png" />
    </div>
    <!-- gif 체크
        <div class="img-chk gif-chk">
        <img class="logo" src="/../assets/image/main/img_gif.png" />
    </div>
    -->
</div>
