<div class="photo-album-view" *ngIf="true">
    <div class="photo-album-list">
        <div class="ph-album-box">
            <div class="ph-album-img-list">
                <div class="ph-album-img">
                    <img [src]="'https://i.imgur.com/XjsUghQ.gif' | safe" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/5MgRDNq.jpg" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/2Qi6ATF.png" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/wk2qBtd.jpg" />
                    <div class="bg"></div>
                    <div class="ph-album-num">
                        <h3>+23</h3>
                    </div>
                </div>
            </div>
            <div class="ph-album-title">
                <h3>과거통합당</h3>
                <p>2020.03.28 / 이야기 작성</p>
            </div>
        </div>
        <div class="ph-album-box">
            <div class="ph-album-img-list">
                <div class="ph-album-img">
                    <img src="https://w.wallhaven.cc/full/wy/wallhaven-wyjy37.png" />
                </div>
                <div class="ph-album-img">
                    <img src="https://w.wallhaven.cc/full/ey/wallhaven-eylyrw.png" />
                </div>
                <div class="ph-album-img">
                    <img src="https://w.wallhaven.cc/full/5w/wallhaven-5wodp1.jpg" />
                </div>
                <div class="ph-album-img">
                    <img src="https://w.wallhaven.cc/full/ox/wallhaven-oxmzq7.png" />
                    <div class="bg"></div>
                    <div class="ph-album-num">
                        <h3>+3</h3>
                    </div>
                </div>
            </div>
            <div class="ph-album-title">
                <h3>캐릭터</h3>
                <p>2020.03.28 / 이야기 작성</p>
            </div>
        </div>
        <div class="ph-album-box">
            <div class="ph-album-img-list">
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/RlT8Idub.jpg" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/RlT8Idub.jpg" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/tXiHAIcb.gif" />
                </div>
                <div class="ph-album-img">
                    <img src="https://i.imgur.com/iSgYJxdb.png" />
                    <div class="bg"></div>
                    <div class="ph-album-num">
                        <h3>+3</h3>
                    </div>
                </div>
            </div>
            <div class="ph-album-title">
                <h3>배경</h3>
                <p>2020.03.28 / 이야기 작성</p>
            </div>
        </div>
    </div>
</div>
