<div class="click-blocker"></div>
<div class="modal">
    <div class="u-img">
        <img [src]="profileForm.icon" (error)="onProfileIconError($event)" />
    </div>
    <div class="title">
        <h3>회원 정보 수정</h3>
    </div>
    <div [class]="isNameError() ? 'u-input error' : 'u-input'">
        <label>
            <p>닉네임</p>
        </label>
        <input id="name" maxlength="15" [(ngModel)]="profileForm.name" type="text" />
        <p class="error-up">닉네임을 입력하세요.</p>
    </div>
    <div [class]="isIconError() ? 'u-input error' : 'u-input'">
        <label>
            <p>아이콘 이미지 변경</p>
        </label>
        <input id="icon" [(ngModel)]="profileForm.icon" type="text" />
        <p class="error-up">아이콘을 입력하세요.</p>
    </div>
    <button [disabled]="isNameError() || isIconError()" (click)="onSubmitClick()">확인</button>

    <a href="#" class="modal-close" (click)="close()">
        <i class="material-icons">
            close
        </i>
    </a>
</div>
