/*
  **
  ** 사용자 공용색상 관련
  ** 초록 - 배경 : 43A047 / 텍스트 : ffffff
  ** 노랑 - 배경 : FFF59D / 텍스트 : 212121
  ** 회색 - 배경 : E0E0E0 / 텍스트 : 212121
  ** 검정 - 배경 : 212121 / 텍스트 : ffffff
  ** 분홍 - 배경 : EC407A / 텍스트 : ffffff
  ** 주황 - 배경 : F4511E / 텍스트 : ffffff
  ** 회색 - 배경 : 9e9e9e / 텍스트 : 424242
  **
  */
:host-context(.theme-light) {
  .icon-section {
    .icon {
      img {
        border: solid 2px #e8e8e8;
      }
    }
  }
  .message-section {
    .header {
      .level {
        background-color: #9e9e9e;
        color: #ffffff;
      }
      .nickname {
        color: #424242;

        span {
          color: #424242;
        }
      }
    }
    .black-text {
      color: #424242;
    }
  }
}

:host-context(.theme-dark) {
  .icon-section {
    .icon {
      img {
        border: solid 2px #393939;
      }
    }
  }
  .message-section {
    .header {
      .level {
        background-color: #757575;
        color: #424242;
      }
      .nickname {
        color: #eeeeee;

        span {
          color: #ffffff;
        }
      }
    }
    .black-text {
      color: #eeeeee;
    }
  }
}
