<div class="chat-entry">
  <div class="icon-section">
    <div class="icon">
      <img [src]="chat.getSender().getIcon()" style="border-color: #F5F5F5;" />
    </div>
  </div>
  <div class="message-section">
    <div class="header">
      <div class="level">
        <span>Lv.{{ chat.getSender().getLevel() }}</span>
      </div>
      <div class="nickname">
        <span>{{ chat.getSender().getNickname() }}</span>
      </div>
    </div>
    <div *ngFor="let message of chat.getMessages()" class="body black-text">
      <span>{{ message.getMessage() }}</span>
    </div>
  </div>
</div>
