<div class="chat-entry">
  <div class="icon-section">
    <div class="icon">
      <img
        #icon
        [src]="getIcon()"
        (contextmenu)="onIconContextMenu()"
        [ngStyle]="{ border: getBorder() }"
      />
    </div>
  </div>
  <div class="message-section">
    <div class="header">
      <div class="level">
        <span>Lv.{{ chat.getSender().getLevel() }}</span>
      </div>
      <div class="nickname">
        <span>{{ chat.getSender().getNickname() }}</span>
        <span class="type" [ngSwitch]="getEnvironment()">
          <i *ngSwitchCase="SenderEnv.MOBILE" class="material-icons"
            >smartphone</i
          >
          <i *ngSwitchCase="SenderEnv.BOT" class="material-icons">bug_report</i>
        </span>
      </div>
    </div>
    <chat-message-entry
      *ngFor="let message of chat.getMessages()"
      [message]="message"
    >
    </chat-message-entry>
  </div>
</div>
