<div class="stream-live-box">
    <div class="stream-live-img">
        <img src="https://w.wallhaven.cc/full/lm/wallhaven-lmxmxy.png">
    </div>
    <div class="stream-live-info">
        <div class="str-user-img">
            <img [src]="getIcon() | safe">
        </div>
        <div class="str-user-info">
            <h3>{{getName()}}</h3>
            <div class="str-live-info">
                <img src="http://mycast.xyz/home/asset/chat.original/img/stream-pack-plaform-totoro.png">
                <p>{{getId()}} / {{getPlatform()}}</p>
            </div>
        </div>
    </div>
</div>
