.stream-live-box {
    width: 100%;
    height: 70px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    border: 1px solid #e3e3e3;
    border-radius: 3px;


    .stream-live-img {
        width: 100%;
        height: 180px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    .stream-live-info {
        width: calc(100% - 10px);
        height: 50px;
        padding: 10px 5px;
        background-color: rgba($color: #000000, $alpha: 0.75);
        position: absolute;
        bottom: 0px;
        left: 0px;

        .str-user-img {
            width: 50px;
            height: 50px;
            border-radius: 50px;
            overflow: hidden;
            float: left;
            border: 1px solid #ffffff;

            img {
                width: 50px;
                height: 50px;
            }
        }
        .str-user-info {
            width: calc(100% - 60px);
            height: 50px;
            margin-left: 8px;
            float: left;

            * {
                padding: 0%;
                margin: 0%;
                color: #ffffff;
                text-shadow: 2px 2px 2px rgba(0,0,0,.4);
            }
            h3 {
                font-size: 18px;
                font-weight: bolder;
                margin-bottom: 5px;
                margin-top: 5px;
            }
            .str-live-info {
                width: 100%;
                height: 20px;

                * {
                    float: left;
                }
                img {
                    width: 20px;
                    height: 20px;
                    background-color: #424242;
                    border-radius: 3px;
                    overflow: hidden;
                }
                p {
                    font-size: 12px;
                    padding-top: 3px;
                    margin-left: 5px;
                }
            }
        }
    }
}