<div class="main-list">
    <div class="icon-wrapper" *ngFor="let stream of getStreams()">
        {{stream.name}}
        <div class="icon" style="background-image: url(&quot;https://i.imgur.com/KUbNw6O.gif&quot;);"></div>
        <div class="detail thumbnail"><img class="thumbnail" src="https://i.imgur.com/5hgzZcl.gif"
                style="display: inline;">
            <div class="wrapper">
                <div class="title">ᎷᏋᎶᏬᎷᎥᏁ</div>
                <div class="description">ᎷᏋᎶᏬᎷᎥᏁ의 방송 [공용채널]</div>
                <div class="viewer"><i class="material-icons">person</i><span>3</span></div>
                <div class="button" style="right: 10px;"><i class="material-icons">link</i></div>
                <div class="button" style="right: 32px;"><i class="material-icons">open_in_new</i></div>
            </div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" style="background-image: url(&quot;https://i.imgur.com/KUbNw6O.gif&quot;);"></div>
        <div class="detail thumbnail"><img class="thumbnail" src="https://i.imgur.com/5hgzZcl.gif"
                style="display: inline;">
            <div class="wrapper">
                <div class="title">ᎷᏋᎶᏬᎷᎥᏁ</div>
                <div class="description">ᎷᏋᎶᏬᎷᎥᏁ의 방송 [공용채널]</div>
                <div class="viewer"><i class="material-icons">person</i><span>3</span></div>
                <div class="button" style="right: 10px;"><i class="material-icons">link</i></div>
                <div class="button" style="right: 32px;"><i class="material-icons">open_in_new</i></div>
            </div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" style="background-image: url(&quot;https://i.imgur.com/ytgpqBi.jpg&quot;);"></div>
        <div class="detail thumbnail"><img class="thumbnail" src=" https://i.imgur.com/TIA9kag.jpg"
                style="display: inline;">
            <div class="wrapper">
                <div class="title">사나이 다운 스똡뜨</div>
                <div class="description">사나이 다운 스똡뜨의 방송 [공용채널]</div>
                <div class="viewer"><i class="material-icons">person</i><span>0</span></div>
                <div class="button" style="right: 10px;"><i class="material-icons">link</i></div>
                <div class="button" style="right: 32px;"><i class="material-icons">open_in_new</i></div>
            </div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" style="background-image: url(&quot;https://i.imgur.com/XS8IOYH.png&quot;);"></div>
        <div class="detail thumbnail"><img class="thumbnail" src="https://i.imgur.com/odPnqLQ.png"
                style="display: inline;">
            <div class="wrapper">
                <div class="title">간델</div>
                <div class="description">간델의 방송 [공용채널]</div>
                <div class="viewer"><i class="material-icons">person</i><span>0</span></div>
                <div class="button" style="right: 10px;"><i class="material-icons">link</i></div>
                <div class="button" style="right: 32px;"><i class="material-icons">open_in_new</i></div>
            </div>
        </div>
    </div>
    <div class="icon-wrapper">
        <div class="icon" style="background-image: url(&quot;https://i.imgur.com/zsuSZ1K.jpg&quot;);"></div>
        <div class="detail thumbnail"><img class="thumbnail"
                src="https://static-cdn.jtvnw.net/previews-ttv/live_user_nokduro-200x150.jpg?1576925546271"
                style="display: inline;">
            <div class="wrapper">
                <div class="title">2월이사[twitch]</div>
                <div class="description">닌군 신빌드 나옴@2월이사의 외부방송</div>
                <div class="viewer"><i class="material-icons">person</i><span>3106</span></div>
                <div class="button" style="right: 10px;"><i class="material-icons">link</i></div>
                <div class="button" style="right: 32px;"><i class="material-icons">open_in_new</i></div>
            </div>
        </div>
    </div>
</div>
