.container {
    position: absolute;
    width: 100%;
    height: 220px;
    overflow-y: scroll;
    background: white;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
