.chat-page {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

chat-user-list {
  // TEMP START
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  // TEMP END
}

chat-interface {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80px;
}
