<div class="photo-page">
    <div class="left-menu">
        <h2>
            마이<br />
            캐스트<br />
            포토
        </h2>
        <div class="ph-menu-list">
            <a class="ph-m-li">
                <i class="material-icons">insert_photo</i>
                <p>포토</p>
            </a>
            <a class="ph-m-li">
                <i class="material-icons">collections_bookmark</i>
                <p>앨범</p>
            </a>
        </div>
    </div>
    <div #scroller class="photo-main-content" (scroll)="onScroll()">
        <div class="ph-d-list" *ngFor="let photoSet of getPhotoSetModel()">
            <p>{{photoSet.dateString}}</p>
            <div class="ph-list">
                <photo-entry [photo]="photo" *ngFor="let photo of photoSet.list"></photo-entry>
            </div>
        </div>
    </div>
</div>
