.photo-page {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  overflow: hidden;
  margin: 0%;
  padding: 0%;

  .left-menu {
    width: 200px;
    height: calc(100% - 20px);
    margin: 10px;
    border-right: 1px solid #e3e3e3;

    float: left;
    h2 {
      width: 180px;
      text-align: right;
      padding: 10px;
      font-size: 36px;
      color: #f50057;
    }
    .ph-menu-list {
      width: 40px;
      padding-right: 10px;
      padding-left: 150px;
      text-align: right;

      .ph-m-li {
        width: 40px;
        height: 60px;
        display: block;
        text-align: center;

        margin-bottom: 15px;

        i {
          font-size: 28px;
          line-height: 32px;
          color: #616161;
        }
        p {
          width: auto;
          height: auto;
          padding: 0%;
          margin: 0%;
          color: #616161;
        }
      }
    }
  }
  .photo-main-content {
    width: calc(100% - 231px);
    height: 100%;
    margin: 0%;
    padding-left: 10px;
    position: relative;
    float: left;
    overflow-y: scroll;

    scrollbar-color: #e0e0e0 #f0f0f0;
    scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
      border: 3px solid #f0f0f0;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      display: block;
      height: 5px;
      background: #f0f0f0;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      -webkit-border-radius: 10px;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      height: 50px;
      width: 50px;
      background: #e0e0e0;
      -webkit-border-radius: 8px;
      border-radius: 8px;
    }

    .ph-d-list {
      width: 100%;
      height: auto;
      margin-bottom: 20px;

      p {
        width: auto;
        height: 20px;
        font-size: 16px;
        line-height: 20px;
        color: #616161;
        margin-left: 10px;
      }

      .ph-list {
        width: 100%;
        height: auto;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    }
  }
}
