<div class="photo-page">
    <div class="left-menu">
        <h2>
            마이<br />
            캐스트<br />
            포토
        </h2>
        <div class="ph-menu-list">
            <a class="ph-m-li">
                <i class="material-icons">
                    insert_photo
                </i>
                <p>포토</p>
            </a>
            <a class="ph-m-li">
                <i class="material-icons">
                    collections_bookmark
                </i>
                <p>앨범</p>
            </a>
        </div>
    </div>
    <div #scroller class="photo-main-content" (scroll)="onScroll()">
        <div class="ph-d-list" *ngFor="let photoSet of getPhotoSetModel()">
            <p>{{photoSet.dateString}}</p>
            <div class="ph-list">
                <div class="ph-img" *ngFor="let photo of photoSet.list">
                    <img [src]="photo.thumbnail">
                    <div class="ph-info">
                        <div class="bg"></div>
                        <div class="img-wh">
                            <i class="material-icons">crop_original</i>
                            <p>{{photo.width}}x{{photo.height}}</p>
                        </div>
                        <div class="ph-btn-group">
                            <a class="ph-btn warning">
                                <i class="material-icons">
                                    warning
                                </i>
                            </a>
                            <a class="ph-btn link">
                                <i class="material-icons">
                                    link
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
