<div class="main">
  <div class="part">
    <button (click)="onMenuClick()">
      <i class="material-icons">menu</i>
    </button>
    <img class="logo" src="/../assets/image/main/main-logo-30.png" />
  </div>
  <div class="part right">
    <a class="alert-btn">
      <i class="material-icons">notifications</i>
      <div *ngIf="this.getNotificationCount() > 0">{{this.getNotificationCount()}}</div>
    </a>
    <button (click)="onSettingClick()">
      <img class="profile" [src]="getProfileIcon() | safe" />
    </button>
  </div>
</div>
