$icon-size: 40px;

div.main {
  display: flex;
  width: 100%;
  height: 100%;
}

div.part {
  display: flex;
  width: 50%;
  padding: 5px;
  align-items: center;

  button {
    width: $icon-size;
    height: $icon-size;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 5px;
    padding: 0;
    color: #616161;
    background-color: #fff;

    &:hover {
      background-color: #f7f7f7;
    }
    &:active {
      background-color: #f3f3f3;
    }
  }

  button.alert-btn {
    position: relative;
    width: $icon-size;
    height: $icon-size;
    margin: 5px;
    color: #757575;

    // 드래그 방지
    user-select: none;

    i {
      font-size: 24px;
      padding: 8px;
      margin-right: 10px;
    }

    div {
      position: absolute;
      right: 0px;
      bottom: 0px;
      font-size: 12px;
      width: 18px;
      height: 18px;
      border-radius: 15px;
      text-align: center;
      line-height: 18px;
      background: #ec407a;
      color: white;
    }

    &:hover {
      color: #ec407a;
    }
    &.active {
      color: #c2185b;
    }
  }
}

div.part.right {
  justify-content: flex-end;
}

img.logo {
  width: 114px;
  height: 30px;
}

img.profile {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

notification-list {
  position: fixed;
  right: 50px;
  z-index: 80;
  overflow-y: hidden;

  &.active {
    height: auto;
  }

  &.deactive {
    height: 0px;
  }

  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
