<div class="main">
  <div class="part">
    <button (click)="menuClick.emit()">
      <i class="material-icons">menu</i>
    </button>
    <img class="logo" src="/../assets/image/main/main-logo-30.png" />
  </div>
  <div class="part right">
    <button [class]="isNotificationListShow()?'alert-btn active':'alert-btn'" (click)="toggleNotificationList()">
      <i class="material-icons">notifications</i>
      <div *ngIf="this.getUnreadNotificationCount() > 0">{{this.getUnreadNotificationCount()}}</div>
    </button>
    <button (click)="settingClick.emit()">
      <img class="profile" [src]="getProfileIcon() | safe" />
    </button>
  </div>
</div>

<notification-list [class]="isNotificationListShow()?'active':'deactive'">
</notification-list>
