.chat-list {
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: auto;
}

chat-entry {
  display: block;
  width: 100%;
  min-height: 50px;

  border-bottom: 1px solid #e8e8e8;
  &:last-child {
    border-bottom-color: #ffffff;
  }
}
