.chat-list {
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  overflow-y: scroll;

  scrollbar-color: #E0E0E0 #ffffff;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border: 3px solid #fff;
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
    background: #fff;
  }
  &::-webkit-scrollbar-track {
    background: #fff;
    -webkit-border-radius: 10px;
    border-radius:10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    background: #E0E0E0;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
}

chat-entry {
  display: block;
  width: 100%;
  min-height: 50px;

  border-bottom: 1px solid #e8e8e8;
  &:last-child {
    border-bottom-color: #ffffff;
  }
}


