<div class="memo-page">
    <div class="left-menu">
        <h2>
            마이<br />
            캐스트<br />
            메모
        </h2>
        <div class="mm-menu-list">
            <a class="mm-m-li">
                <i class="material-icons">insert_drive_file</i>
                <p>메모</p>
            </a>
            <a class="mm-m-li">
                <i class="material-icons">collections_bookmark</i>
                <p>앨범</p>
            </a>
            <a class="mm-m-li mm-li-btm">
                <i class="material-icons">edit</i>
                <p>업로드</p>
            </a>
        </div>
    </div>
    <div #scroller class="memo-main-content">
        <div class="mm-search">
            <label>검색</label>
            <div class="mm-search-input">
                <input type="text">
                <i class="material-icons">search</i>
            </div>
        </div>
        <div class="mm-list">
            <memo-entry *ngFor="let memo of getMemos()"></memo-entry>
        </div>
    </div>
    <memo-detail-view *ngIf="false"></memo-detail-view>
</div>
