<div class="user-setting">
  <div class="user-info">
    <div class="u-info">
      <img class="profile" [src]="getIcon() | safe" width="40">
      <span class="u-name">
        <p class="lv">Lv. {{ getLevel() }}</p>
        <p class="name">{{ getName() }}</p>
      </span>
      <a href="#" (click)="openProfileSettingView()">
        <i class="material-icons">settings</i>
      </a>
    </div>
  </div>
  <div class="toggle-option stream-set" (click)="openStreamSettingView()">
    <h5>방송설정 </h5>
    <img [src]="getPlatformImageSrc()" width="45" height="45">
  </div>
  <div class="toggle-option stream-set" (click)="openOptionSettingView()">
    <h5>옵션</h5>
  </div>
  <!-- <div class="alarm">
    <h5>알림음</h5>
    <ul>
      <li *ngFor="let option of getNotificationSounds()" [ngClass]="{'select':option.getId()===getNotficationSoundId()}"
        (click)="onNotificationSoundClick(option)">
        {{option.getName()}}
      </li>
    </ul>
  </div> -->
  <div class="theme">
    <h5>테마</h5>
    <ul>
      <li *ngFor="let option of getThemes()" [ngClass]="{'select':option.theme===theme}" (click)="onThemeClick(option)">
        {{option.name}}</li>
    </ul>
  </div>
  <!-- <div class="toggle-option" (click)="toggleDataSaveMode()">
    <h5>데이터세이브 모드</h5>
    <i *ngIf="isDataSaveMode()" class="material-icons">done</i>
  </div>
  <div class="toggle-option" (click)="toggleChatTimestamp()">
    <h5>채팅 시각 표시</h5>
    <i *ngIf="isTimestampShow()" class="material-icons">done</i>
  </div> -->
  <div class="logout">
    <h5>로그아웃</h5>
  </div>
</div>
