<div class="user-setting">
    <div class="user-info">
        <div class="u-info">
            <img class="profile" src="https://i.imgur.com/XjsUghQ.gif" width="40">
            <span class="u-name">
                <p class="lv">Lv. 21</p>
                <p class="name">고양이야기(환자)</p>
            </span>            
        </div>
    </div>
    <div class="alarm">
        <h5>알림음</h5>
        <ul>
            <li><input name="alarm" type="radio" value="hellorobot">안녕로봇</li>
            <li><input name="alarm" type="radio" value="hellorobot">디바</li>
            <li><input name="alarm" type="radio" value="hellorobot">아이폰</li>
            <li><input name="alarm" type="radio" value="hellorobot">기상나팔</li>
            <li><input name="alarm" type="radio" value="hellorobot">어서일어나</li>
        </ul>
    </div>
    <div class="theme">
        <h5>테마</h5>
        <ul>
            <li>기본</li>
            <li>어두운모드</li>
        </ul>
    </div>
    <div>
        <h5>데이터세이브 모드</h5>
    </div>
    <div>
        <h5>챗봇 설정</h5>
    </div>
    <div>
        <h5>후방주의</h5>
    </div>
    <div>
        <h5>스크롤잠금</h5>
    </div>
    <div class="logout">
        <h5>로그아웃</h5>
    </div>
</div>