<div>
    <h3>알림음</h3>
    <ul>
        <li><input name="alarm" type="radio" value="hellorobot">안녕로봇</li>
        <li><input name="alarm" type="radio" value="hellorobot">디바</li>
        <li><input name="alarm" type="radio" value="hellorobot">아이폰</li>
        <li><input name="alarm" type="radio" value="hellorobot">기상나팔</li>
        <li><input name="alarm" type="radio" value="hellorobot">어서일어나</li>
    </ul>
    <hr />
    <h3>테마</h3>
    <ul>
        <li>기본</li>
        <li>어두운모드</li>
    </ul>
    <h3>데이터세이브 모드</h3>
    <h3>챗봇 설정</h3>
</div>