.card-info {
  width: 100%;
  max-height: 204px;
  border-radius: 3px;
  border: 1px solid #ffffff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  overflow: hidden;

  .img {
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-right: 1px solid #ffffff;
    background-color: #212121;
    margin: 0px auto;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .info {
    height: auto;
    * {
      margin: 0%;
      padding: 0%;
      line-height: 12px;
    }
    p {
      font-size: 12px;
      &.title {
        font-family: 'Jeju Gothic', sans-serif !important;
        font-weight: bolder;
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  &.horizontal {
    width: calc(100% - 10px);
    height: 80px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(70% - 10px);
    .img {
      width: 80px;
      height: 80px;
      float: left;
      border-right: 1px solid #ffffff;
    }
    .info {
      width: calc(100% - 101px);
      padding-left: 5px;
      padding-right: 15px;
      float: left;
      margin-top: 20px;
      .title {
        width: 100%;
        font-size: 16px;
        font-weight: bolder;
        margin: 0%;
        padding-top: 10px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      p {
        width: 100%;
        margin: 0%;
        padding: 0%;
        font-size: 12px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  &.vertical {
    width: 150px !important;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100px;
    .img {
      width: 150px;
      height: 150px;
      border-bottom: 1px solid #ffffff;
    }
    .info {
      width: calc(100% - 6px);
      padding: 5px 3px;
      margin-top: 5px;
      overflow: hidden;
      p {
        margin-bottom: 4px;
        text-align: center;
        width: 100%;
        height: auto;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 16px;
        max-height: 32px;
        max-lines: 2;
        -webkit-line-clamp: 2; /* 표시하고자 하는 라인 수 */
        -webkit-box-orient: vertical;
      }
    }
  }
}
