:host-context(.theme-light) {
  .card-info {
    background-color: #ffffff;
    border-color: #ffffff;
    .img {
      border-color: #ffffff;
    }
    .info {
      color: #424242;
      .title {
        color: #424242;
      }
    }
  }
}
:host-context(.theme-dark) {
  .card-info {
    background-color: #212121;
    border-color: #212121;
    .img {
      border-color: #212121;
    }
    .info {
      color: #ffffff;
      .title {
        color: #ffffff;
      }
    }
  }
}
