<div
  class="main-section"
  [ngClass]="{ 'content-mode': isContentMode() }"
  (mousedown)="closeAllMenu()"
>
  <div class="main-page-wrapper" [ngSwitch]="getPageType()">
    <chat-page *ngSwitchCase="'CHAT'"></chat-page>
    <photo-page *ngSwitchCase="'PHOTO'"></photo-page>
    <memo-page *ngSwitchCase="'MEMO'"></memo-page>
  </div>
  <div class="contents-viewer">
    <iframe
      [src]="getCurrentLink() | safe"
      frameborder="0"
      allowfullscreen
    ></iframe>
    <button (click)="clearContents()">
      <i class="material-icons">close</i>
    </button>
  </div>
  <div class="side-bar" [ngClass]="{ active: isSideMenuShow() }">
    <app-side-bar></app-side-bar>
  </div>
</div>
<nav class="top-bar-section">
  <top-bar (menuClick)="toggleMenu()" (settingClick)="(false)"></top-bar>
</nav>

<modify-profile-modal *ngIf="isModifyProfileMode()"></modify-profile-modal>
<modify-stream-modal *ngIf="isModifyStreamMode()"></modify-stream-modal>
<modify-setting-modal *ngIf="isModifySettingMode()"> </modify-setting-modal>

<clipboard-image-popup *ngIf="isClipboardImageMode()"></clipboard-image-popup>
<image-popup-viewer
  *ngIf="isImagePopup()"
  (backgroundClick)="closeImagePopup()"
></image-popup-viewer>
<notification-request-popup
  *ngIf="isNotificationRequestShow()"
></notification-request-popup>
<toast-list *ngIf="isToastListShow()"></toast-list>
