$header-height: 50px;

.top-bar-section {
  position: absolute;
  width: 100vw;
  height: $header-height;
  left: 0;
  top: 0;
}

.main-section {
  position: absolute;
  left: 0;
  top: $header-height;
  width: 100vw;
  height: calc(100% - #{$header-height});

  chat-page {
    width: 100vw;
    height: 100%;
  }

  .side-bar {
    position: absolute;
    top: 0;
    width: 70vw;
    height: 100%;
    transition: transform 0.4s ease-in-out;

    &.hidden {
      transform: translateX(-100vw);
    }
  }
}

modify-stream-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

clipboard-image-popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
