:host-context(.theme-light) {
  .chat-interface {
    background-color: #ffffff;
  }
  .input-sticker {
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    a {
      color: #757575;
    }
  }
  .input-box {
    background: #ffffff;
    color: #424242;
  }
}

:host-context(.theme-dark) {
  .chat-interface {
    background-color: #424242;
  }
  .input-sticker {
    background-color: #424242;
    border-top: 1px solid #616161;
    border-bottom: 1px solid #616161;
    a {
      color: #ffffff;
    }
  }
  .input-box {
    background: #424242;
    color: #ffffff;
  }
}
