<div class="nt-list">
    <div class="nt-no-entry" *ngIf="getNotificationParams().length === 0">
        <i class="material-icons">visibility_off</i>
        <p>알림이 없습니다.</p>
    </div>
    <div class="nt-entry" [ngClass]="{'read': param.notification.isRead()}"
        *ngFor="let param of getNotificationParams()">
        <div class="entry">
            <img [src]="param.notification.getIcon() | safe" />
        </div>
        <div class="nt-info-txt">
            <div class="title">
                <h4>{{param.notification.getTitle()}}</h4>
                <p>{{param.timeText}}</p>
            </div>
            <div class="nt-alert">
                <p>{{param.notification.getBody()}}</p>
            </div>
        </div>
    </div>
</div>
