<div class="nt-list">
    <div class="nt-no-entry" *ngIf="getNotification().length === 0">
        알림이 없습니다.
    </div>
    <div class="nt-entry" *ngFor="let notification of getNotification()">
        <div class="entry">
            <img [src]="notification.getIcon()" />
        </div>
        <div class="nt-info-txt">
            <div class="title">
                <h4>{{notification.getTitle()}}</h4>
                <p>30분 전</p>
            </div>
            <div class="nt-alert">
                <p>{{notification.getBody()}}</p>
            </div>
        </div>
    </div>
</div>
