<div class="side-bar">
  <ul class="main">
    <li class="main" (click)="onMemoClick()">
      <i class="material-icons">event_note</i>
      <span>메모</span>
    </li>
    <li class="main" (click)="onPhotoClick()">
      <i class="material-icons">image</i>
      <span>이미지 갤러리</span>
    </li>
  </ul>

  <div *ngIf="isMobile()">
    <hr />
    <h3 (click)="onLocalStreamListClick()">마이캐스트 <small>({{getLocalStreamList().length}})</small></h3>
    <ul class="stream" [ngClass]="isLocalStreamListShow() ? 'selected' : ''">
      <li *ngFor="let stream of getLocalStreamList()" (click)="onStreamClick(stream)">
        <img [src]="stream.getIcon()|safe" [alt]="stream.getTitle()" />
        <span>{{ stream.getTitle() }}</span>
      </li>
    </ul>
  </div>
  <hr />
  <h3 (click)="onTwitchListClick()">트위치 <small>({{getTwitchList().length}})</small></h3>
  <ul class="stream" [ngClass]="isTwitchListShow() ? 'selected' : ''">
    <li *ngFor="let stream of getTwitchList()" (click)="onStreamClick(stream)">
      <img [src]="stream.getIcon()|safe" [alt]="stream.getTitle()" />
      <span>{{ stream.getTitle() }}</span>
      <div class="live-btn">
        <div class="button" style="right: 10px;" (click)="onShareClick(stream)">
          <i class="material-icons">star_border</i>
        </div>
        <div class="button" style="right: 10px;" (click)="onShareClick(stream)">
          <i class="material-icons">link</i>
        </div>
        <div class="button" style="right: 32px;" (click)="onNewWindowClick(stream)">
          <i class="material-icons">open_in_new</i>
        </div>
      </div>
    </li>
  </ul>
  <hr />
  <h3 (click)="onAfreecaListClick()">아프리카 <small>({{getAfreecaList().length}})</small></h3>
  <ul class="stream" [ngClass]="isAfreecaListShow() ? 'selected' : ''">
    <li *ngFor="let stream of getAfreecaList()" (click)="onStreamClick(stream)">
      <img [src]="stream.getIcon()|safe" [alt]="stream.getTitle()" />
      <span>{{ stream.getTitle() }}</span>
    </li>
  </ul>
  <hr />
  <h3 (click)="toggleYoutubeList()">유튜브 <small>({{getYoutubeList().length}})</small></h3>
  <ul class="stream" [ngClass]="{selected: youtubeListShow}">
    <li *ngFor="let stream of getYoutubeList()" (click)="onStreamClick(stream)">
      <img [src]="stream.getIcon()|safe" [alt]="stream.getTitle()" />
      <span>{{ stream.getTitle() }}</span>
    </li>
  </ul>
  <hr />
  <h3 (click)="onKakaoListClick()">카카오TV <small>({{getKakaoList().length}})</small></h3>
  <ul class="stream" [ngClass]="isKakaoListShow() ? 'selected' : ''">
    <li *ngFor="let stream of getKakaoList()" (click)="onStreamClick(stream)">
      <img [src]="stream.getIcon()|safe" [alt]="stream.getTitle()" />
      <span>{{ stream.getTitle() }}</span>
    </li>
  </ul>
</div>
