<div class="side-bar">
    <ul class="main">
        <li class="main">
            <i class="material-icons">event_note</i>
            <span>메모</span>
        </li>
        <li class="main">
            <i class="material-icons">image</i>
            <span>이미지 갤러리</span>
        </li>
    </ul>
    <hr />
    <h3 (click)="onTwitchListClick()">트위치</h3>
    <ul class="stream" [ngClass]="isTwitchListShow() ? 'selected' : ''">
        <li *ngFor="let stream of getTwitchList()" (click)="onStreamClick(stream)">
            <img src="{{stream.getIcon()}}" alt="{{stream.getTitle()}}" />
            <span>{{stream.getTitle()}}</span>
        </li>
    </ul>
    <hr />
    <h3 (click)="onKakaoListClick()">카카오TV</h3>
    <ul class="stream" [ngClass]="isKakaoListShow() ? 'selected' : ''">
        <li *ngFor="let stream of getKakaoList()" (click)="onStreamClick(stream)">
            <img src="{{stream.getIcon()}}" alt="{{stream.getTitle()}}" />
            <span>{{stream.getTitle()}}</span>
        </li>
    </ul>
    <hr />
</div>