<div class="click-blocker"></div>
<div class="bg"></div>
<div class="modal-wrapper">
    <div class="modal">
        <div class="title">
            <i class="material-icons">live_tv</i>
            <h3>방송 정보 수정</h3>
        </div>
        <div class="stream-setup-box">
            <div class="ss-list-set">
                <div *ngFor="let platform of getPlatforms()" class="stream-server-box"
                    [ngClass]="{active:platform.id===getCurrentPlatform()}" (click)="onPlatformClick(platform)">
                    <img [src]="platform.src" />
                    <p>{{platform.name}}</p>
                </div>
            </div>
            <div class="ss-setup" [ngSwitch]="getCurrentPlatform()">
                <div class="mycast ss-setup-box" *ngSwitchCase="'local'">
                    <div class="u-img">
                        <img [src]="streamForm.backgroundImage" />
                    </div>
                    <div class="stream-img-set ss-set-input">
                        <label>
                            <p>배경이미지</p>
                        </label>
                        <input type="text" class="stream-img-set" [(ngModel)]="streamForm.backgroundImage">
                    </div>
                    <div class="stream-url ss-set-input">
                        <label>
                            <p>OBS FMS URL</p>
                        </label>
                        <input type="text" class="stream-img-set" value="rtmp://mycast.xyz:1935/live" readonly>
                    </div>
                    <div class="stream-key ss-set-input">
                        <label>
                            <p>STREAM KEY</p>
                        </label>
                        <input type="text" class="stream-img-set" [value]="getLocalId()" readonly>
                    </div>
                </div>
                <div class="totoro ss-setup-box" *ngSwitchCase="'totoro'">
                    <div class="u-img">
                        <img [src]="streamForm.backgroundImage" />
                    </div>
                    <div class="stream-img-set ss-set-input">
                        <label>
                            <p>배경이미지</p>
                        </label>
                        <input type="text" class="stream-img-set" [(ngModel)]="streamForm.backgroundImage">
                    </div>
                    <div class="stream-url ss-set-input">
                        <label>
                            <p>OBS FMS URL</p>
                        </label>
                        <input type="text" class="stream-img-set" value="rtmp://totoro.mycast.xyz/live" readonly>
                    </div>
                    <div class="stream-key ss-set-input">
                        <label>
                            <p>STREAM KEY</p>
                        </label>
                        <input type="text" class="stream-img-set" [value]="getLocalId()" readonly>
                    </div>
                </div>
                <div class="afreeca ss-setup-box" *ngSwitchCase="'afreeca'">
                    <div class="stream-key ss-set-input">
                        <label>
                            <p>STREAM KEY</p>
                        </label>
                        <input type="text" class="stream-img-set" [(ngModel)]="streamForm.afreecaId">
                    </div>
                </div>
                <div class="twitch ss-setup-box" *ngSwitchCase="'twitch'">
                    <div class="stream-key ss-set-input">
                        <label>
                            <p>STREAM KEY</p>
                        </label>
                        <input type="text" class="stream-img-set" [(ngModel)]="streamForm.twitchId">
                    </div>
                </div>
                <div class="mixer ss-setup-box" *ngSwitchCase="'mixer'">
                    <div class="stream-key ss-set-input">
                        <label>
                            <p>STREAM KEY</p>
                        </label>
                        <input type="text" class="stream-img-set" [(ngModel)]="streamForm.mixerId">
                    </div>
                </div>
            </div>
        </div>
        <button (click)="submit()">확인</button>

        <a href="#" class="modal-close" (click)="close()">
            <i class="material-icons">close</i>
        </a>
    </div>
</div>
