<div class="photo-view">
    <div class="photo-info">
        <div class="title">
            <h3>정보</h3>
            <span class="material-icons">
                clear
            </span>
        </div>
        <div class="p-info-box">
            <p class="lab">
                사이즈
            </p>
            <p class="info-txt">1920*1080</p>
        </div>
        <div class="p-info-box">
            <p class="lab">
                태그
            </p>
            <a href="#" class="add-tag">
                <span class="material-icons">
                    add_comment
                </span>
            </a>
            <div class="tag-list">
                <div class="tag-box">
                    <p>애니</p>
                </div>
                <div class="tag-box">
                    <p>어서오세요 실력지상주의 교실에</p>
                </div>
                <div class="tag-box">
                    <p>일본</p>
                </div>
            </div>
        </div>
        <div class="p-info-box">
            <p class="lab">
                세부정보
            </p>
            <div class="in-txt">
                <span class="material-icons">
                    calendar_today
                </span>
                <div class="in-txt-list">
                    <p class="ma-title">2020년 3월 21일</p>
                    <p class="sub-text">토, 오후 8:50</p>
                </div>
            </div>
            <div class="in-txt">
                <span class="material-icons">
                    image
                </span>
                <div class="in-txt-list">
                    <p class="ma-title">PNG</p>
                    <p class="sub-text">Image/png</p>
                </div>
            </div>
            <div class="in-txt">
                <span class="material-icons">
                    visibility
                </span>
                <div class="in-txt-list">
                    <p class="ma-title see-txt">22명</p>
                </div>
            </div>
        </div>
        <div class="p-info-box">
            <p class="lab">
                세부도구
            </p>
            <div class="in-txt">
                <span class="material-icons">
                    verified_user
                </span>
                <div class="in-txt-list">
                    <p class="ma-title see-txt">후방주의 이미지</p>
                </div>
            </div>
            <div class="in-txt">
                <span class="material-icons">
                    launch
                </span>
                <div class="in-txt-list">
                    <p class="ma-title see-txt">채팅으로 보내기</p>
                </div>
            </div>
        </div>
    </div>
    <div class="photo-img">
        <img src="https://w.wallhaven.cc/full/73/wallhaven-73kvmo.png">
    </div>
</div>