.photo-view {
    width: 100%;
    height: 100%;

    padding: 0%;
    margin: 0%;
    
    background: #f0f0f0;

    .photo-info {
        width: 300px;
        height: 100%;
        background-color: #ffffff;
        border-right: 1px solid #e3e3e3;
        border-left: 1px solid #e3e3e3;
        padding: 10px;
        float: left;

        .title {
            width: 100%;
            height: auto;
            padding: 5px;
            position: relative;

            h3 {
                font-size: 24px;
                line-height: 28px;
                color: #757575;
            }
            span {
                width: 28px;
                height: 28px;
                font-size: 28px;
                line-height: 28px;
                color: #757575;

                position: absolute;
                top: 31px;
                right: 10px;
            }
        }
        .p-info-box {
            width: 100%;
            height: auto;

            padding: 5px;
            padding-bottom: 30px;

            position: relative;
            p.lab {
                font-size: 14px;
                color: #9E9E9E;
                padding: 0%;
                margin: 0%;
            }
            p.info-txt {
                font-size: 36px;
                color: #424242;
                padding: 0%;
                margin: 0%;
            }
            .add-tag {
                width: auto;
                width: 24px;
                color: #9E9E9E;
                font-size: 14px;
                display: block;
                position: absolute;
                right: 5px;
                top: 6px;
                span {
                    font-size: 18px;
                }
            }
            .tag-list {
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .tag-box {
                    width: auto;
                    height: auto;
                    
                    background-color: #F8BBD0;
                    color: #F50057;
                    border-radius: 15px;
                    margin-right: 10px;
                    margin-top: 10px;

                    p {
                        margin: 0%;
                        padding: 0%;
                        padding: 5px 10px;
                    }
                }
            }
            .in-txt {
                width: 100%;
                height: 40px;
                
                margin-top: 20px;


                span {
                    width: auto;
                    height: auto;

                    font-size: 36px;
                    color: #424242;
                    float: left;
                }
                .in-txt-list {
                    width: calc(100% - 45px);
                    padding-left: 5px;
                    float: left;
                    p {
                        padding: 0%;
                        margin: 0%;
                    }
                    p.ma-title {
                        font-size: 20px;
                        color: #424242;
                        line-height: 20px;
                    }
                    p.sub-text {
                        font-size: 14px;
                        color: #757575;
                        line-height: 16px;
                    }
                    p.ma-title.see-txt{
                        padding-top: 4px;
                    }
                }
            }
        }
    }
    .photo-img {
        width: calc(100% - 322px);
        height: 100%;

        float: right;
        position: relative;

        img {
            max-width: 100%;
            max-height: 100%;

            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;

            box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        }
    }
}