<div class="body black-text" [ngSwitch]="message.getType()">
    <afreeca-pack *ngSwitchCase="'afreeca'" [message]="message">
    </afreeca-pack>
    <animation-pack *ngSwitchCase="'animation'" [message]="message">
    </animation-pack>
    <book-pack *ngSwitchCase="'book'" [message]="message">
    </book-pack>
    <cv-pack *ngSwitchCase="'character-voice'" [message]="message">
    </cv-pack>
    <image-pack *ngSwitchCase="'image'" [message]="message">
    </image-pack>
    <link-pack *ngSwitchCase="'link'" [message]="message">
    </link-pack>
    <lol-champion-pack *ngSwitchCase="'champion'" [message]="message">
    </lol-champion-pack>
    <lol-user-pack *ngSwitchCase="'lol-user'" [message]="message">
    </lol-user-pack>
    <magic-conch-pack *ngSwitchCase="'magic-conch'" [message]="message">
    </magic-conch-pack>
    <stream-pack *ngSwitchCase="'stream'" [message]="message">
    </stream-pack>
    <text-pack *ngSwitchCase="'text'" [message]="message">
    </text-pack>
    <twitch-pack *ngSwitchCase="'twitch'" [message]="message">
    </twitch-pack>
    <twitch-clip-pack *ngSwitchCase="'twitch-clip'" [message]="message">
    </twitch-clip-pack>
    <youtube-pack *ngSwitchCase="'youtube'" [message]="message">
    </youtube-pack>
    <div class="footer" *ngIf="isTimestampShow()">{{getTimeString()}}</div>
</div>
