:host-context(.theme-light) {
  .black-text {
    color: #424242;
  }
  .footer {
    color: #424242;
  }
  .reaction {
    .reaction-item {
      .reaction-item-title {
        span {
          background: #dddddd;
          color: #323232;
        }
      }
    }
  }
}
:host-context(.theme-dark) {
  .black-text {
    color: #eeeeee;
  }
  .footer {
    color: #eeeeee;
  }
  .reaction {
    .reaction-item {
      .reaction-item-title {
        span {
          background: #323232;
          color: #dddddd;
        }
      }
    }
  }
}
