.body {
  word-wrap: break-word;
}

.footer {
  font-size: 8px;
  text-align: end;
}

.black-text {
  width: 100%;
  height: auto;

  color: #eeeeee;

  font-size: 14px;
  font-weight: light;
  line-height: 18px;
  padding-bottom: 3px;

  border-radius: 5px !important;
}
