.body {
  position: relative;
  word-wrap: break-word;

  .menu {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50px;
    justify-content: flex-end;
    visibility: collapse;

    button {
      width: 20px;
      height: 20px;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 10px;
      outline: none;
    }
  }

  &:hover {
    .menu {
      visibility: visible;
    }
  }
}

.reaction {
  .reaction-item {
    position: relative;
    display: inline-block;
    .reaction-item-title {
      position: absolute;
      left: 0;
      bottom: 20px;
      display: none;
      width: 150px;
      min-height: 20px;

      span {
        padding: 5px;
        border-radius: 10px;
        font-size: 12px;
        line-height: 20px;
      }
    }
    &:hover {
      .reaction-item-title {
        display: inline-block;
      }
    }
  }
}

.footer {
  font-size: 8px;
  text-align: end;
}

.black-text {
  width: 100%;
  height: auto;

  color: #eeeeee;

  font-size: 14px;
  font-weight: light;
  line-height: 18px;
  padding-bottom: 3px;

  border-radius: 5px !important;
}
