<div class="memo-content">
    <div class="bg"></div>
    <div class="memo-box">
        <div class="title">
            <div class="user-img">
                <img src="https://i.imgur.com/tXiHAIc.gif" />
            </div>
            <div class="title-txt">
                <h3>테스트 메모 모달</h3>
                <p>시구르나 작성, 03월 26일</p>
            </div>
            <div class="favorite">
                <i class="material-icons">star</i>
                <p>즐겨찾기</p>
            </div>
            <div class="content">
                <p class="text">{{getBody()}}</p>
                <a *ngIf="hasLink()" [href]="getLink()">
                    <p>{{getLink()}}</p>
                </a>
            </div>

        </div>
    </div>
    <i class="material-icons clear" (click)="closeDetailView()">clear</i>
    <a class="left-btn btn">
        <i class="material-icons">navigate_before</i>
    </a>
    <a class="right-btn btn">
        <i class="material-icons">navigate_next</i>
    </a>
</div>
