$top-bar-height: 50px;
$default-chat-width: 25%;
$stream-menu-height: 60px;

nav.top-bar-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $top-bar-height;
  margin: 0;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

.main-section {
  display: flex;
  width: 100%;
  height: calc(100% - #{$top-bar-height});
}

.main-section>.stream-container-view {
  width: calc(100% - #{$default-chat-width});
  height: 100%;
  background: #f0f0f0;
}

.main-section>.stream-container-view>.component-view {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f0f0f0;
  padding-top: 50px;

  .side-bar {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
    transition: 0.2s ease-in-out;
    background: white;
    opacity: 0;

    &.show {
      left: 0px;
      transition: 0.2s ease-in-out;
      opacity: 1;
    }

    &.hide {
      left: -300px;
      opacity: 0;
    }
  }

  .contents-viewer {
    width: 100%;
    height: 100%;
  }
}

.main-section > .stream-container-view > .stream-list-view {
  width: auto;
  height: 60px;
  padding: 0px 5px;
  box-shadow: 1px 1px 1px 1px rgba($color: #000000, $alpha: .25);
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  position: fixed;
  right: 26%;
  bottom: 5px;
}

.main-section>.chat-list-view {
  width: $default-chat-width;
  height: 100%;
  background: #ffffff;
  border-left: 1px solid #e0e0e0;
  padding-top: 50px;
}

.stream-view {
  width: calc(100% - #{$default-chat-width});
  height: calc(100% - #{$stream-menu-height});
  background: #282828;
}

.setting-view {
  position: absolute;
  top: 50px;
  right: -300px;
  width: 300px;
  height: 500px;
  background: #e8e8e8;
  transition: 0.25s ease-in-out;

  &.active {
    right: 0;
  }
}