$top-bar-height: 50px;
$default-chat-width: 25%;
$stream-menu-height: 60px;

nav.top-bar-section {
  // position: absolute;
  // left: 0;
  // top: 0;
  width: 100%;
  height: $top-bar-height;
  margin: 0;
  background: grey;
}

.main-section {
  // position: absolute;
  // left: 0;
  // bottom: 0;
  display: flex;
  width: 100%;
  height: calc(100% - #{$top-bar-height});
}

.main-section>.stream-container-view {
  width: calc(100% - #{$default-chat-width});
  height: 100%;
  background: yellow;
}

.main-section>.stream-container-view>.component-view {
  width: 100%;
  height: calc(100% - #{$stream-menu-height});
  background: red;
}

.main-section>.chat-list-view {
  width: $default-chat-width;
  height: 100%;
  background: blue;
  height: 100%;
}

.stream-view {
  width: calc(100% - #{$default-chat-width});
  height: calc(100% - #{$stream-menu-height});
  background: #282828;
}