$top-bar-height: 50px;
$default-chat-width: 25%;
$stream-menu-height: 60px;

nav.top-bar-section {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: $top-bar-height;
  margin: 0;
  background: #ffffff;
  border-bottom: 1px solid #e0e0e0;

  z-index: 90;
}

.main-section {
  position: relative;
  left: 0;
  top: $top-bar-height;
  display: block;
  width: 100%;
  height: calc(100% - #{$top-bar-height});
  z-index: 20;
}

.main-section>.stream-container-view {
  position: absolute;
  left: 0;
  top: 0;
  width: calc(100% - #{$default-chat-width});
  height: 100%;
  background: #f0f0f0;
  z-index: 21;
}

.main-section>.stream-container-view>.component-view {
  position: relative;
  width: 100%;
  height: 100%;
  background: #f0f0f0;

  .contents-viewer {
    width: 100%;
    height: 100%;
  }
}

// 방송을 켜서 볼경우
// 색상값 반전 필수 - 검정으로 변경
.main-section>.stream-container-view>.stream-list-view {
  width: auto;
  height: 60px;
  padding: 0px 5px;
  box-shadow: 1px 1px 0px 1px rgba($color: #000000, $alpha: 0.3);
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;

  position: absolute;
  right: 15px;
  bottom: 10px;
}

.side-bar {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;

  app-side-bar {
    position: absolute;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100%;
    border-right: 1px solid #424242;
    box-shadow: 0px 3px 5px 1px rgba($color: #000000, $alpha: 0.3);
    transition: 0.2s ease-in-out;
    background: white;
  }

  .click-blocker {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.6;
  }

  &.show {
    opacity: 1;
    z-index: 60;
    visibility: visible;

    app-side-bar {
      left: 0;
    }
  }

  &.hide {
    opacity: 0;
    visibility: hidden;

    app-side-bar {
      left: -200px;
      opacity: 0;
    }
  }
}

.divider {
  position: absolute;
  top: 0;
  width: 10px;
  height: 100%;
  z-index: 50;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  cursor: col-resize;

  &.move-mode {
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    transform: none;
    -webkit-transform: none;
  }
}

.main-section>.chat-list-view {
  position: absolute;
  top: 0;
  right: 0;
  width: $default-chat-width;
  height: 100%;
  z-index: 30;
  background: #ffffff;
  border-right: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  chat-page {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}

.stream-view {
  width: calc(100% - #{$default-chat-width});
  height: calc(100% - #{$stream-menu-height});
  background: #282828;
}

.setting-view {
  position: absolute;
  top: 50px;
  right: -300px;
  width: 220px;
  height: 542px;
  overflow: hidden;
  z-index: 60;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 1px rgba($color: #000000, $alpha: 0.3);

  transition: 0.25s ease-in-out;

  &.active {
    right: 0;
  }
}

image-popup-viewer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

// 스크롤바 관련 처리

/* Customize website's scrollbar like Mac OS Not supports in Firefox and IE */
/* total width */
.chat-list-view::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

// background of the scrollbar except button or resizer
.chat-list-view::-webkit-scrollbar-track {
  background-color: #fff;
}

.chat-list-view::-webkit-scrollbar-track:hover {
  background-color: #f4f4f4;
}

// scrollbar itself
.chat-list-view::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 5px solid #fff;
}

.chat-list-view::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a5;
  border: 4px solid #f4f4f4;
}

// set button(top and bottom of the scrollbar)
.chat-list-view::-webkit-scrollbar-button {
  display: none;
}

/**/
