<div class="main-section">
    <div class="stream-container-view">
        <div class="component-view">
            <div class="side-bar" [ngClass]="isMenuShow() ? 'show' : 'hide'">
                <app-side-bar (streamClick)="onStreamClick($event)"></app-side-bar>
            </div>

            <div class="contents-viewer">
                <app-stream-viewer *ngIf="getCurrentStream()" [stream]="mCurrentStream"></app-stream-viewer>
            </div>
        </div>
        <div class="stream-list-view">
            <app-stream-list (streamIconClick)="onStreamIconClick($event)"></app-stream-list>
        </div>
    </div>
    <div class="chat-list-view">
        chat
    </div>
</div>
<nav class="top-bar-section">
    <app-top-bar (menuClick)="onMenuClick()" (settingClick)="onSettingClick()"></app-top-bar>
    <div class="setting-view" [ngClass]="isSettingShow() ? 'active' : ''">
        <app-setting-view></app-setting-view>
    </div>
</nav>