:host-context(.theme-light) {
  .memo-main-content {
    scrollbar-color: #e0e0e0 #f0f0f0;
    &::-webkit-scrollbar {
      border-color: #f0f0f0;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      background: #f0f0f0;
    }
    &::-webkit-scrollbar-track {
      background: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
      background: #e0e0e0;
    }

    .mm-search {
      label {
        color: #616161;
      }
      .mm-search-input {
        input {
          color: #757575;
          border-color: #e3e3e3;
        }
        i {
          color: #757575;
          &:hover {
            color: #ff4081;
          }
        }
      }
    }
  }
}

:host-context(.theme-dark) {
  .memo-main-content {
    scrollbar-color: #616161 #3a3a3a;
    &::-webkit-scrollbar {
      border-color: #3a3a3a;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      background: #3a3a3a;
    }
    &::-webkit-scrollbar-track {
      background: #3a3a3a;
    }
    &::-webkit-scrollbar-thumb {
      background: #616161;
    }

    .mm-search {
      label {
        color: #eeeeee;
      }
      .mm-search-input {
        input {
          background-color: #616161;
          color: #eeeeee;
          border: 1px solid #757575;
        }
        i {
          color: #eeeeee;
          &:hover {
            color: #c63d6c;
          }
        }
      }
    }
  }
}
