.memo-main-content {
  width: calc(100% - 231px);
  height: 100%;
  margin: 0%;
  padding-left: 10px;
  position: relative;
  float: left;
  overflow-y: scroll;

  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    border: 3px solid;
  }
  &::-webkit-scrollbar-button:start:decrement,
  &::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
  }
  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }

  .mm-search {
    width: 100%;
    height: 36px;
    padding-top: 25px;
    padding-bottom: 20px;
    position: relative;

    label {
      width: 40px;
      font-size: 16px;
      line-height: 36px;
      margin-left: 10px;
      float: left;
    }
    .mm-search-input {
      width: calc(50% - 30px);
      height: 36px;
      position: relative;
      float: left;

      input {
        width: calc(100% - 64px);
        height: 20px;
        line-height: 20px;
        font-size: 14px;

        padding: 7px 15px;
        padding-right: 40px;
        border-radius: 25px;
        border: 1px solid;
        outline: none;
      }
      i {
        width: 36px;
        height: 36px;

        position: absolute;
        right: 9px;
        top: 1px;

        text-align: center;
        line-height: 36px;
      }
    }
  }

  .mm-list {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
