<div class="ani-pack">
    <div class="ani-box">
        <img class="ani-bg" src="http://data5.onnada.com/anime/202003/thumb300x400_2070905244_196719ad_319497.jpg" width="100%"/>
        <div class="img-overlay"></div>
        <div class="ani-info">
            <div class="title-img">
                <img src="http://data5.onnada.com/anime/202003/thumb300x400_2070905244_196719ad_319497.jpg" />
            </div>
            <div class="info-text">
                <h4>여성향 게임의 파멸 플래그밖에 없는 악역 영애로 환생해버렸다...</h4>
                <p>방영일: 2020.04.05</p>
            </div>
        </div>
    </div>
</div>