<div class="lol-user-info">
    <div class="bg">
        <img src="https://cdn.communitydragon.org/10.10.3208608/champion/Yasuo/splash-art/skin/0">
    </div>
    <div class="user-img">
        <img src="https://i.imgur.com/pg8TRNb.png">
        <div class="level">
            <p>Lv. 172</p>
        </div>
    </div>
    <div class="user-info">
        <h3 class="title">{{getName()}}</h3>
        <div class="tier">
            <p>{{getTier()}} {{getDivision()}} {{getPoint()}}점</p>
        </div>
    </div>
</div>



<!--
(대충 '{{getName()}}' 계정이 '{{getTier()}} {{getDivision()}} {{getPoint()}}점'이라는 내용)
-->