<div class="page">
    <div class="login">
        <div class="logo">
            <img src="/../assets/image/login/mycast-logo-1200-no-t.png" width="300">
        </div>
        <form class="in-box">
            <!-- 사용자 로그인 정보 -->
            <input type="text">
            <input type="password">
            <!-- 로그인 버튼 -->
            <button type="submit">LOGIN</button>
        </form>
        <div class="botton">
            <button type="button">E-Mail Join</button>
        </div>
    </div>
</div>
