$menu-icon-size: 60px;
$menu-icon-size-5px: 65px;
$background-color: #333;

.icon-wrapper {
  position: relative;
  display: inline-block;
  width: $menu-icon-size - 5px;
  height: $menu-icon-size;

  .icon {
    width: $menu-icon-size - 10px;
    height: $menu-icon-size - 10px;
    margin: 5px 2.5px 5px 2.5px;
    border-radius: 5px;
    background: darken($background-color, 10%);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    opacity: 0.6;
  }

  .bridge {
    position: absolute;
    right: 0;
    top: -5px;
    width: $menu-icon-size;
    height: 5px;
  }

  .detail {
    $width: 240px;
    position: absolute;
    display: none;
    align-items: center;
    right: -5px;
    bottom: $menu-icon-size-5px;
    width: $width;
    height: 135px;
    background: darken($background-color, 10%);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    &.thumbnail {
      height: 135px;
    }

    .thumbnail {
      width: $width;
      max-height: 100%;
    }

    .wrapper {
      width: 100%;
      height: 60px;

      position: absolute;
      left: 0px;
      bottom: 0px;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.75)));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.75));

      .text {
        width: calc(100% - 10px);
        margin-left: 10px;
        margin-top: 10px;

        .title {
          width: calc(100% - 90px);
          text-align: left;
          color: #fff;
          font-size: 18px;
          font-weight: bold;
          margin: 0%;
          padding: 0%;
          opacity: 1;
          padding-bottom: 5px;
          float: left;
        }
        .viewer {
          max-width: 70px;
          height: 20px;
          margin-right: 5px;
          color: #eee;
          font-size: 12px;
          float: right;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          span {
            font-size: 14px;
            line-height: 20px;
          }
          i {
            padding-top: 3px;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .description {
        width: calc(100% - 20px);
        text-align: left;
        color: #eee;
        font-size: 9px;
        overflow: hidden;
        padding: 0%;
        margin-left: 10px;
      }

      .btn-box {
        position: absolute;
        top: -70px;
        right: 5px;

        .button {
          width: 30px;
          height: 30px;
          float: left;
          margin-left: 5px;

          border-radius: 15px;
          background: $background-color;
          text-align: center;
          cursor: pointer;
          
  
          i {
            color: #eee;
            font-size: 15px;
            line-height: 33px;
  
            &.enabled {
              color: #cc0;
            }
          }
  
          &:hover {
            background: lighten($background-color, 10%);
          }
        }
      }
    }
  }

  &:hover {
    .icon {
      opacity: 1;
    }

    .detail {
      display: flex;
    }
  }
}