<div class="icon-wrapper">
    <div class="icon" [style.background-image]="'url('+stream.getIcon()+')'" (click)="onIconClick()"></div>
    <div class="bridge"></div>
    <div class="detail thumbnail">
        <img class="thumbnail" *ngIf="isThumbnailShow()" [src]="getThumbnail()|safe" style="display: inline;"
            (error)="onThumbnailError()">
        <div class="wrapper">
            <div class="text">
                <h4 class="title">{{getTitle()}}</h4>
                <div class="viewer">
                    <span>{{stream.getViewer()}}</span>
                    <i class="material-icons">person</i>
                </div>
            </div>
            <p class="description">{{stream.getDescription()}}</p>
            <div class="btn-box">
                <div class="button" style="right: 10px;" (click)="onShareClick(stream)">
                    <i class="material-icons">link</i>
                </div>
                <div class="button" style="right: 32px;" (click)="onNewWindowClick(stream)">
                    <i class="material-icons">open_in_new</i>
                </div>
            </div>
        </div>
    </div>
</div>
