<div class="icon-wrapper">
    <div class="icon" [style.background-image]="'url('+stream.getIcon()+')'" (click)="onIconClick()"></div>
    <div class="bridge"></div>
    <div class="detail thumbnail">
        <img class="thumbnail" [src]="stream.getThumbnail() | safe" style="display: inline;">
        <div class="wrapper">
            <div class="title">{{stream.getTitle()}}</div>
            <div class="description">{{stream.getDescription()}}</div>
            <div class="viewer">
                <i class="material-icons">person</i>
                <span>{{stream.getViewer()}}</span>
            </div>
            <div class="button" style="right: 10px;" (click)="onShareClick(stream)">
                <i class="material-icons">link</i>
            </div>
            <div class="button" style="right: 32px;" (click)="onNewWindowClick(stream)">
                <i class="material-icons">open_in_new</i>
            </div>
        </div>
    </div>
</div>
