
// 메모 업로드
.memo-upload {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-y: scroll;
    overflow-x: hidden;
  
    .bg {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 100;
    }
    .memo-box {
        width: 50%;
        height: 500px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        margin: auto;
        border-radius: 10px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
            0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  
        z-index: 120;
  
        .title {
            width: calc(100% - 40px);
            height: 60px;
            padding: 25px 20px;
  
            position: relative;
  
            .user-img {
                width: 60px;
                height: 60px;
                border-radius: 100%;
                overflow: hidden;
  
                float: left;
  
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .title-txt {
                width: calc(100% - 70px);
                margin-left: 70px;
                padding-top: 7px;
                padding-bottom: 7px;
                h3 {
                    width: 100%;
                    font-weight: normal;
                    margin: 0%;
                    padding: 0%;
                    font-size: 24px;
                    line-height: 30px;
                }
                p {
                    width: 100%;
                    font-weight: normal;
                    margin: 0%;
                    padding: 0%;
                    font-size: 14px;
                    line-height: 16px;
                }
            }
        }
        .content {
            width: 100%;
            
            textarea{
              width: 100%;
              margin-top: 20px;
              border: 0px;
              min-height: 300px;
              font-size: 16px;
              line-height: 20px;
              resize: none;
            }
            .sub-btn {
              width: 100%;
              height: 50px;
              border-radius: 5px;
              font-size: 20px;
              font-weight: bolder;
              letter-spacing: 3px;
              margin-top: 25px;
            }
        }
    }
  
    // 상단, 좌우 버튼
    i.clear {
        font-size: 40px;
        z-index: 120;
        position: absolute;
        right: 0px;
        top: 10px;
        cursor: pointer;
    }
  }
  