.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.player-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 100%;
}

plyr {
    --plyr-color-main: #e7427a;
    --plyr-control-icon-size: 30px;
    --plyr-control-radius: 15px;
    --plyr-control-paddind: 15px;
    --plyr-menu-radius: 15px;
}
