.container {
  width: 100%;
  height: 100%;
  position: relative;

  .preview-wrapper {
    display: inline-flex;
    flex-flow: column;
    alsign-items: left;
    max-width: 320px;
    max-height: 280px;
    margin: 15px;

    border-radius: 5px;
    overflow: hidden;

    position: absolute;
    top: calc(50% - 140px);
    left: 0%;

    background: #ffffff;

    .thumbnail-wrapper {
      display: inline-block;
      width: 320px;
      height: 180px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .info-wrapper {
      width: 300px;
      padding: 10px;
      position: relative;

      .title {
        font-size: 24px;
        line-height: 26px;
        font-weight: bolder;
        font-family: 'Jeju Gothic', sans-serif !important;
        position: absolute;
        top: -30px;
        left: 10px;
        color: #ffffff;
        text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.75);
      }
      .description {
        font-size: 16px;
        line-height: 20px;
        color: #616161;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .btn-wrapper {
      width: 320px;
      height: 36px;

      position: relative;

      button {
        width: 33.33%;
        height: 36px;
        float: left;
        border: 0px;

        text-align: center;
        cursor: pointer;

        background-color: #f5f5f5;
        border-top: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;

        i {
          font-size: 18px;
          line-height: 27px;

          color: #424242;

          &.enabled {
            color: #cc0;
          }
        }

        &:last-child {
          border-right: 0px;
        }
        &:hover {
          background-color: #ff4081;
          border-color: #f5f5f5;
          i {
            color: #ffffff;
          }
        }
      }
    }
  }
}
