:host-context(.theme-light) {
  .card-container {
    scrollbar-color: #ff4081 #ffffff;
    &::-webkit-scrollbar {
      border: 5px solid #ffffff;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      background: #ffffff;
    }
    &::-webkit-scrollbar-track {
      background: #ffffff;
    }
    &::-webkit-scrollbar-thumb {
      background: #ff4081;
    }
    .card-info {
      background-color: #ffffff;
      border-color: #ffffff;
      .img {
        border-color:  #ffffff;
      }
      .info {
        color: #424242;
        .title {
          color: #424242;
        }
      }
    }
  }
}

:host-context(.theme-dark) {
  .card-container {
    scrollbar-color: #ff4081 #424242;
    &::-webkit-scrollbar {
      border: 5px solid #424242;
    }
    &::-webkit-scrollbar-button:start:decrement,
    &::-webkit-scrollbar-button:end:increment {
      background: #424242;
    }
    &::-webkit-scrollbar-track {
      background: #424242;
    }
    &::-webkit-scrollbar-thumb {
      background: #ff4081;
    }
    .card-info {
      background-color: #212121;
      border-color: #212121;
      .img {
        border-color: #212121;
      }
      .info {
        color: #ffffff;
        .title {
          color: #ffffff;
        }
      }
    }
  }
}
