@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

html,
body,
app-root {
  width: 100% !important;
  height: 100% !important;
  margin: 0px !important;
  padding: 0px !important;
  overflow: hidden;

  * {
    font-family: 'Nanum Gothic', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Jeju Gothic', sans-serif !important;
  }
}

.plyr__controls {
  padding: 0 100px 100px 100px !important;
}
