<div class="click-blocker" (click)="close()"></div>
<div class="modal-wrapper">
  <div class="modal">
    <div class="title">
      <h3>사이트 설정</h3>
    </div>
    <div class="body">
      <div class="site-set-box">
        <div class="set-title">
          <p>전체 알람</p>
        </div>
        <div class="set-switch">
          <label class="switch" [ngClass]="{'active':isNotificationEnabled()}" (click)="toggleNotificationEnable()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="site-set-box max-w" *ngIf="isNotificationEnabled()">
        <div class="set-title">
          <p>알람음</p>
        </div>
        <div class="raido-switch">
          <div class="radio-switch-btn" *ngFor="let option of getNotificationSounds()"
            [ngClass]="{'select':option.getId()===getNotficationSoundId()}" (click)="onNotificationSoundClick(option)">
            {{option.getName()}}
          </div>
        </div>
      </div>
      <div class="site-set-box max-w" *ngIf="isNotificationEnabled()">
        <div class="set-title">
          <p>알람 표기</p>
        </div>
        <div class="radio-box" *ngFor="let channel of getNotifcationChannels()">
          <div class="radio-title">
            <p>{{channel.name}}</p>
          </div>
          <div class="raido-switch">
            <div class="radio-switch-btn" [ngClass]="{'select': channel.browser}"
              (click)="toggleNotificationBrowserChannel(channel.hash)">
              <p>브라우저</p>
            </div>
            <div class="radio-switch-btn" [ngClass]="{'select': channel.os}"
              (click)="toggleNotificationOsChannel(channel.hash)">
              <p>OS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="site-set-box">
        <div class="set-title">
          <p>데이터세이브</p>
        </div>
        <div class="set-switch">
          <label class="switch" [ngClass]="{'active':isDataSaveMode()}" (click)="toggleDataSaveMode()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="site-set-box">
        <div class="set-title">
          <p>채팅 시각 표기</p>
        </div>
        <div class="set-switch">
          <label class="switch" [ngClass]="{'active':isTimestampShow()}" (click)="toggleChatTimestamp()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <div class="site-set-box">
        <div class="set-title">
          <p>챗봇 표기</p>
        </div>
        <div class="set-switch">
          <label class="switch" [ngClass]="{'active':isChatBotEnabled()}" (click)="toggleChatBotEnabled()">
            <span class="slider"></span>
          </label>
        </div>
      </div>
      <!--<div class="site-set-box">
        <div class="set-title">
          <p>후방주의</p>
        </div>
        <div class="set-switch">
          <label class="switch">
            <input type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
      </div> -->
      <!-- <button [disabled]="isNameError() || isIconError()" (click)="onSubmitClick()">확인</button> -->
    </div>
    <a class="modal-close" (click)="close()">
      <i class="material-icons">
        close
      </i>
    </a>
  </div>
</div>
