.modal {
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 362.5px);
    width: 480px;
    height: 725px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .08), 0 0 15px 0 rgba(0, 0, 0, .02), 0 0 20px 4px rgba(0, 0, 0, .06);
    position: relative;
  
    * {
      padding: 0%;
      margin: 0%;
    }
  
    .title {
      width: calc(100% - 20px);
      font-size: 24px;
      color: #616161;
      text-align: left;
      padding: 10px;
      padding-top: 15px;
      border-bottom: 1px solid #e3e3e3;
    }

    .site-set-box {
        width: calc(100% - 20px);
        height: 40px;
        padding: 5px 10px;
        border-bottom: 1px  solid #eeeeee;
        &.max-w {
            height: 150px;
            .set-title {
                width: calc(100% + 10px) !important;
                height: 26px;
                border-bottom: 1px solid #f7f7f7;
                margin-left: -10px;
                padding:0px 5px;
                p {
                    font-size: 12px;
                    padding: 6px;
                }
            }
        }
        .set-title {
            width: 80%;
            height: 40px;
            float: left;
            p {
                font-size: 16px;
                padding: 12px;
                padding-left: 5px;
                color: #757575;
            }
        }
        .set-switch {
            width: calc(20% - 30px);
            height: 40px;
            float: left;
            padding-left: 30px;
             /* The switch - the box around the slider */
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 28px;
                margin-top: 7px;
            }
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #e1e1e1;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 28px;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 4px;
                bottom: 4px;
                background-color: #FFFFFF;
                -webkit-transition: .4s;
                transition: .4s;
                border-radius: 50%;
            }
            input:checked + .slider {
                background-color: #FF4081;
            }
            input:focus + .slider {
                box-shadow: 0 0 1px #FF4081;
            }
            input:checked + .slider:before {
                -webkit-transform: translateX(30px);
                -ms-transform: translateX(30px);
                transform: translateX(30px);
            }
        }
        .raido-switch {
            width: 100%;
            height: 110px;
            padding-left: 10px;
            margin-top: 5px;
            float: left;
            display: flex;
            flex-flow: row wrap;
            .radio-switch-btn {
                width: calc(30% - 16px);
                height: 20px;
                margin: 7.5px 0px;
                margin-right: 3%;
                padding: 8px;
                border-radius: 20px;

                text-align: center;
                font-size: 14px;
                color: #919191;
                background: #f5f5f5;

                 &:hover {
                     background-color: #eeeeee;
                 }
                 &.select {
                     background-color: #FF4081;
                     color: #FFFFFF;
                     font-weight: bolder;
                     font-family: "Jeju Gothic", sans-serif !important;
                 }
            }
        }
        .radio-box {
            width: 100%;
            height: 50px;
            padding-left: 10px;
            float: left;
            .radio-title {
                width: 47%;
                height: 50px;
                float: left;
                p {
                    font-size: 16px;
                    padding: 17px;
                    padding-left: 5px;
                    color: #757575;
                }
            }
            .raido-switch {
                width: 50% !important;
                float: right !important;
                height: 40px !important;
                margin-top: 10px;
                .radio-switch-btn {
                    width: calc(40% - 16px);
                    margin: 0% !important;
                    margin-left: 10px !important;
                }
            }
        }
    }
  
    button {
      width: 100%;
      height: 60px;
  
      margin-top: 33px;
  
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      color: #ffffff;
      background-color: #FF4081;
      border: 1px solid #FF4081;
  
      font-size: 20px;
      font-weight: bolder;
  
      &:hover {
        background-color: #E91E63;
        border-color: #E91E63;
      }
  
      &:active {
        background-color: #D81B60;
        border-color: #D81B60;
      }
  
      &:disabled {
        background-color: #BDBDBD;
        border-color: #757575;
      }
    }
  
    .modal-close {
      width: 40px;
      height: 40px;
      position: absolute;
      top: calc(0% - 15px);
      right: calc(0% - 15px);
  
      background-color: #FAFAFA;
      border: 1px solid #F5F5F5;
      border-radius: 50%;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, .12);
  
      text-align: center;
  
      i {
        font-size: 24px;
        line-height: 42px;
        padding-left: 2px;
        color: #424242;
      }
  
      &:hover {
        background-color: #FF4081;
        border: 1px solid #FF4081;
  
        i {
          color: #ffffff;
        }
      }
  
      &:active {
        background-color: #E91E63;
        border-color: #E91E63;
  
        i {
          color: #ffffff;
        }
      }
    }
  }
  
  .click-blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.8;
  }
  