<div class="click-blocker"></div>
<div class="modal">
    <div class="title">
        <h3>사이트 설정</h3>
    </div>
    <div class="site-set-box max-w">
        <div class="set-title">
            <p>알람음</p>
        </div>
        <div class="raido-switch">
            <div class="radio-switch-btn">
                <p>무음</p>
            </div>
            <div class="radio-switch-btn select">
                <p>안녕로봇</p>
            </div>
            <div class="radio-switch-btn">
                <p>디바</p>
            </div>
            <div class="radio-switch-btn">
                <p>아이폰</p>
            </div>
            <div class="radio-switch-btn">
                <p>기상나팔</p>
            </div>
            <div class="radio-switch-btn">
                <p>어서일어나</p>
            </div>
        </div>
    </div>
    <div class="site-set-box max-w">
        <div class="set-title">
            <p>알람 표기</p>
        </div>
        <div class="radio-box">
            <div class="radio-title">
                <p>브라우저</p>
            </div>
            <div class="raido-switch">
                <div class="radio-switch-btn">
                    <p>호출</p>
                </div>
                <div class="radio-switch-btn select">
                    <p>방송</p>
                </div>
            </div>
        </div>
        <div class="radio-box">
            <div class="radio-title">
                <p>운영체제</p>
            </div>
            <div class="raido-switch">
                <div class="radio-switch-btn">
                    <p>호출</p>
                </div>
                <div class="radio-switch-btn select">
                    <p>방송</p>
                </div>
            </div>
        </div>
    </div>
    <div class="site-set-box">
        <div class="set-title">
            <p>전체 알람</p>
        </div>
        <div class="set-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="site-set-box">
        <div class="set-title">
            <p>데이터세이브</p>
        </div>
        <div class="set-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="site-set-box">
        <div class="set-title">
            <p>채팅 시각 표기</p>
        </div>
        <div class="set-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="site-set-box">
        <div class="set-title">
            <p>챗봇 표기</p>
        </div>
        <div class="set-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <div class="site-set-box">
        <div class="set-title">
            <p>후방주의</p>
        </div>
        <div class="set-switch">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
        </div>
    </div>
    <button [disabled]="isNameError() || isIconError()" (click)="onSubmitClick()">확인</button>

    <a href="#" class="modal-close" (click)="close()">
        <i class="material-icons">
            close
        </i>
    </a>
</div>
